.create-group-btn {
    background-color: #000000;
    color: #ffffff;
    position: relative;
    padding: 10px 20px; /* Add padding for better appearance */
    border: none;
    border-radius: 5px; /* Optional styling */
    top: 20px;
    left: 45%;
}

.upload-file-btn {
    background-color: #000000;
    color: #ffffff;
    position: relative;
    padding: 10px 20px; /* Add padding for better appearance */
    border: none;
    border-radius: 5px; /* Optional styling */
    top: 20px;
    left: 45%;
}

.modal-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px; /* Add padding for better appearance */
    border: none;
    border-radius: 5px; /* Optional styling */
    }

.three-dots-icon {
    position: relative;
    top: 25px;
    left: 73%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.dropdown{
    height: 30px;
}

.dropdown-item{
    cursor: pointer;
    z-index: 1000;
}

.search-icon {
    width: 24px;
    height: 24px;
    position: relative;
    right: 30px;
}

.search-container {
    position: relative;
    top: 20px;
    left: 1%;
}

.files {
    position: relative;
    top: 0;
    left: 1%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 10px; /* Optional: Add spacing between items */
}

.files-header {
    display: -webkit-box;

}


/* Split-screen layout */
.split-screen {
    display: flex;
    height: 100vh; /* Full viewport height */
}

/* Left section */
.split-screen .left {
    flex: 3.5; /* Equal width */
    background-color: #ffffff; /* Light gray background */
    overflow-y: auto; /* Scroll if content overflows */
    padding: 20px; /* Add padding */
}

/* Right section */
.split-screen .right {
    flex: 1; /* Equal width */
    background-color: #f9f9f9; /* White background */
    overflow-y: auto; /* Scroll if content overflows */
    border-left: 1px solid #ddd; /* Optional border for separation */
    padding: 20px; /* Add padding */
}

.file-icon {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.home-icon {
    height: 70px;
    object-fit: contain;
    position: absolute;
    bottom: 5px;
    left: 85%;
}




.it-logo {
    width: 100%;
    height: 60px;
    object-fit: contain;
    position: relative;
    right: 60%;
}





.check-in-file-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px; /* Add padding for better appearance */
    border: none;
    border-radius: 5px; /* Optional styling */
    position: relative;
    top: 20px;
    left: 65%;
}

.check-out-file-btn {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px; /* Add padding for better appearance */
    border: none;
    border-radius: 5px; /* Optional styling */
    position: relative;
    top: 20px;
    left: 85%;
}

.logout-button {
    position: relative;
    left:100%;
}
